---
layout: home
title: blog.torresmateo.com
categories: en
---

<div id="home">
    <h1>Posts (newer above)</h1>
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains 'ES' %}
            {% else %}
                <li><span>{{ post.date | date_to_string }} </span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% comment %}
    <h1>Categories</h1>
    {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <a href="" class="category-link">{{ category_name }}</a>
    {% endfor %}
    {% endcomment %}
</div>
