<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta property="fb:admins" content="618356035" />

    <!-- syntax highlighting CSS -->
    <!--<link rel="stylesheet" href="/css/syntax.css">-->

    <!-- Custom CSS -->
    <script type="text/javascript" src="//use.typekit.net/zhh0uta.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/main.css">
    {% if page.layout == "post" %}
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/post.css">
    {% endif %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel=' stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel=' stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
