<header>
    <div id="title">
        <div id="gravcontainer">
            <img class="gravatar" src="https://www.gravatar.com/avatar/838d2fce0da42deb6da42eba28fdcf04?s=124">
        </div>
        <h1><a href="/">{{ site.name }}</a></h1>
        <div class="titleWrap">
            <p id="maintitle">
                {{ site.description_es }}
            </p>
        </div>
        <hr>
        <ul class="fa-ul main-list">
            <li class="main-list-item">
                <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
                <a href="https://twitter.com/#!/torresmateo">@torresmateo</a>
            </li>
            <li class="main-list-item">
                <span class="fa fa-pencil fa-lg main-list-item-icon"></span>
                <a href="https://torresmateo.com/">Página personal</a>
            </li>
            <li class="main-list-item">
                <a class="fa fa-github fa-lg main-list-item-icon" href="https://github.com/torresmateo/"></a>
            </li>
            <li class="main-list-item">
                <a class="fa fa-linkedin fa-lg main-list-item-icon" href="https://www.linkedin.com/in/torresmateo/"></a>
            </li>
            <li class="main-list-item">
                <a class="fa fa-instagram fa-lg main-list-item-icon" href="https://www.instagram.com/torresmateo/"></a>
            </li>
            
        </ul>
    </div>
</header>
