<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include google_analytics.html %}
        {% include facebook.html %}
        <div class="wrapper">
            <main>
                <div id="title">
                    {% if page.categories contains "ES" %}
                        <h1><a href="/es">{{ site.name }}</a></h1>
                        <p>{{ site.description_es }}</p>
                    {% else %}
                        <h1><a href="/">{{ site.name }}</a></h1>
                        <p>{{ site.description }}</p>
                    {% endif %}
                    <hr>
                    <a class="fa fa-github fa-lg main-list-item-icon" href="https://github.com/torresmateo/"></a>
                    <a class="fa fa-twitter fa-lg main-list-item-icon" href="https://twitter.com/#!/torresmateo"></a>
                </div>
                {{ content }}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'torresmateo';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function () {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                        rel="nofollow">comments powered by Disqus.</a></noscript>
            </main>
        </div>

    </body>

</html>
